#nav{
    float:left;
    height: 294px;
    width: 255px;
    display:block;
}

#nav_content{
   width:100%;
   float:left;
   display:block;

}
.nav_head{
    display: block;
    float: left;
    font-family: arial,serif;
    margin: 11px;
}
#banner{
  width:703px;
  height:294px;
  float:left;
  margin:1px 0 0 2px;
  display:block;
  background:#232323;
}

#banner_content{
height:293px;
width:356px;
float:left;
display:block;
}

#banner_content button{
margin:35px 0 0 0;
}

#banner_content h1{
    color: #FFFFFF;
    margin:15px 0 0 0;
}

#banner_content h3{
    color: #c7fcff
}

#banner_content p{
    margin:20px 0 0 0;
    color: #FFFFFF;
}

#banner_image{
width:347px;
height:293px;
float:left;
display:block;
}


